[project]
name = "barnone"
version = "1.0.0"
authors = [
  { name="Nick Stuer", email="nickstuer@duck.com" },
]
description = "A lightweight, eye-friendly, and feature-rich terminal progress bar."
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
]
# Development Status :: Common values are:
  #   3 - Alpha
  #   4 - Beta
  #   5 - Production/Stable
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/nickstuer/barnone"
Issues = "https://github.com/nickstuer/barnone/issues"

[tool.pytest.ini_options]
pythonpath = [
  "src/"
]
testpaths = [
    "tests/",
]
asyncio_mode = "auto"

[tool.ruff]
line-length = 120
show-fixes = true

[tool.ruff.lint]
select = [
    "ALL",
]
ignore = [
  "D100",
  "D101",
  "D102",
  "D103",
  "D107",
  "G004",
  "ANN204",
  "INP001",
  "D104",
  "D213",
  "D203",
  "COM812",
]

[tool.ruff.lint.per-file-ignores]
"tests/*.py" = ["S101", "D103", "PLR2004", "ANN201", "ANN202", "ANN001", "D401", "D404"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[dependency-groups]
dev = [
    "pre-commit>=4.2.0",
    "pytest>=8.4.0",
    "pytest-asyncio>=1.0.0",
    "pytest-cov>=6.2.1",
    "ruff>=0.12.2",
]

[tool.coverage.report]
exclude_lines = [
    "pragma: not covered",
    "@overload",
    "if TYPE_CHECKING:",
    "def __del__",
]

[tool.coverage.run]
branch = true
relative_files = true
omit = [
    ".tox/*",
    "tests/*",
]

[build-system]
requires = ["setuptools>=64", "setuptools-scm>=8"]
build-backend = "setuptools.build_meta"