[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "staaax"
version = "0.2.3"
description = "Jax based S-matrix stack solver."
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "diffaaable>=1.0.1",
    "matplotlib>=3.9.2",
    "pytest>=8.4.1",
    "sax>=0.14.1",
    "scipy>=1.14.1",
    "treams>=0.4.5",
]

[dependency-groups]
dev = [
    "tbump>=6.11.0",
]

[tool.tbump.version]
current = "0.2.3"
# Example of a semver regexp.
# Make sure this matches current_version before
# using tbump
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  '''

[tool.tbump.git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

# For each file to patch, add a [[file]] config
# section containing the path of the file, relative to the
# tbump.toml location.
[[tool.tbump.file]]
src = "README.md"

[[tool.tbump.file]]
src = "pyproject.toml"
