name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.20"

      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Bump version
        run: |
          version=${{ github.event.release.tag_name }}
          version="${version/v/}"
          uv version "$version"

      - run: uv build

      - uses: pypa/gh-action-pypi-publish@release/v1
