[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             http://pypi.python.org/simple/distribute
develop = .
versions = versions
parts = test
        checker


[versions]
gevent = 22.10.2

[test-env]
P01_ENV_TEST_STRING = Hello World
P01_ENV_TEST_UNICODE = 42
P01_ENV_TEST_BOOL = True
P01_ENV_TEST_INT = 42


[test]
recipe = zc.recipe.testrunner
eggs = p01.env [test, ssl, gevent]
       future
environment = test-env


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/env
